<div>
  {{#if data}}
    <h1 class="textProducts">Products</h1>
    <div class="products-container" id="products">
    {{#each data}}
      <div class="card" style="width: 18rem;">
        <p>{{thumbnails}}</p>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">${{price}}</p>
        </div>
      </div>
    {{/each}}
    </div>
  {{else}}
    No products
  {{/if}}
</div>